<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.inlighting.mapper.UserMapper">

    <resultMap id="UserResultMap" type="org.inlighting.entity.UserEntity" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="role" property="role" jdbcType="VARCHAR" />
        <result column="permission" property="permission" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    </resultMap>

    <parameterMap id="UserParameterMap" type="org.inlighting.entity.UserEntity" >
        <parameter resultMap="user_id" property="userId" jdbcType="INTEGER" />
        <parameter resultMap="username" property="username" jdbcType="VARCHAR" />
        <parameter resultMap="role" property="role" jdbcType="VARCHAR" />
        <parameter resultMap="permission" property="permission" jdbcType="VARCHAR" />
        <parameter resultMap="password" property="password" jdbcType="VARCHAR" />
        <parameter resultMap="mobile" property="mobile" jdbcType="VARCHAR" />
    </parameterMap>

    <select id="selectUserById" resultMap="UserResultMap" parameterType="long" >
        select * from users where user_id=#{id,jdbcType=INTEGER}
    </select>

    <select id="selectUserByName" resultMap="UserResultMap" parameterType="String" >
       	select * from users where username=#{username}
    </select>

    <insert id="insertUser" parameterMap="UserParameterMap" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO `users` (
            `username`,
            `password`,
            `salt`,
            `role`,
            `email`,
            `mobile`,
            `create_time`
        )
        VALUES (
            #{username},
            #{password},
            #{salt},
            #{role},
            #{email},
            #{mobile},
            #{createTime}
        )
    </insert>

</mapper>