<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form id="login_form">
        <input type="text" name="username" id="name_field"/><br/>
        <input type="password" name="password" id="password_field"/><br/>
        <input type="button" value="登录" onclick="login()"/><br/>
    </form>

    <script>
        function login() {
            const data = {
                username: document.getElementById('name_field').value,
                password: document.getElementById('password_field').value,
            };
            fetch("/api/login", {
                credentials: 'include',
                method: "POST",
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify(data)
            }).then(function (response) {
                return response.json();
            }).then(function (rep) {
                console.log("[login]", rep);
            });
        }
    </script>

</body>
</html>