<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form id="userFrom" action="/api/update_user" method="POST" enctype="multipart/form-data">
    <input type="text" name="userId"/>
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="text" name="mobile"/>
    <input type="submit" value="修改"/>
</form>
</body>
<script>
    window.addEventListener("DOMContentLoaded", init);

    function init() {
        fetch("/api/user_info").then(function (response) {
            return response.json();
        }).then(function (rep) {
            let data = rep.data;
            console.log("user", data);
            for (let name in data) {
                let ele = document.getElementsByName(name);
                if (ele && ele.length) {
                    ele[0].value = data[name];
                }
            }
        });
    }
</script>
</html>