<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form id="userFrom" action="/api/user_update" method="POST">
    <!--<input type="text" name="userId"/>-->
    <label>username</label>
    <input type="text" name="username" id="name_field"/><br/>
    <label>password</label>
    <input type="password" name="password" id="password_field"/><br/>
    <label>mobile</label>
    <input type="text" name="mobile" id="mobile_field"/><br/>
    <input type="button" value="增加" onclick="addUser()">
    <input type="submit" value="修改"/><br/>
</form>
</body>
<script>
    // window.addEventListener("DOMContentLoaded", init);

    function addUser() {
        var data = {
            username: document.getElementById('name_field').value,
            password: document.getElementById('password_field').value,
            mobile: document.getElementById('mobile_field').value
        };
        fetch("/api/add_user", {
            credentials: 'include',
            method: "POST",
            headers: {
                'Content-Type': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify(data)
        }).then(function (response) {
            return response.json();
        }).then(function (rep) {
            console.log("add", rep);
        });
    }

    function init() {
        fetch("/api/user_info").then(function (response) {
            return response.json();
        }).then(function (rep) {
            let data = rep.data;
            console.log("user", data);
            for (let name in data) {
                let ele = document.getElementsByName(name);
                if (ele && ele.length) {
                    ele[0].value = data[name];
                }
            }
        });
    }
</script>
</html>