<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
<input id="text" type="text" />
<button onclick="send()">Send</button>
<button onclick="closeWebSocket()">Close</button>
<div id="message">
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var userID="888";
    var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1ODc5OTUyNzAsImlhdCI6MTU4Nzk1MjA3MCwidXNlcl9uYW1lIjoiMTAwMDAwMDAyIiwianRpIjoiNjA4ZDA5NTItYjQ2Mi00NTdlLWIwOGMtZWI0NGI1ZThkZWUzIiwiY2xpZW50X2lkIjoid3d3Iiwic2NvcGUiOlsidWkiXX0.e-XTHd2ikLzHY2HosYvMEiyr4SE-y5gog9idWwP6oug";
    // var token = getParameterByName('token', location.href);
    var websocket = null;

    $(function(){
        connectWebSocket();
    })

    //建立WebSocket连接
    function connectWebSocket(){
        console.log("开始...");
        //建立webSocket连接
        websocket = new WebSocket("ws://172.16.0.104:8443/bitgame?token="+token);
        //打开webSokcet连接时，回调该函数
        websocket.onopen = function () {
            console.log("onpen");
        }
        //关闭webSocket连接时，回调该函数
        websocket.onclose = function () {
            //关闭连接
            console.log("onclose");
        }
        //接收信息
        websocket.onmessage = function (msg) {
            console.log(msg.data);
        }
    }
    //发送消息
    function send(){
        var postValue = {
            router:"lottery/init",
            body:{
                id:userID,
                message: $("#text").val()
            }
        };
        websocket.send(JSON.stringify(postValue));
    }
    //关闭连接
    function closeWebSocket(){
        if(websocket != null) {
            websocket.close();
        }
    }
</script>
</body>
</html>